@media screen and (max-width: 426px) {
    
    body {
        background: linear-gradient(to bottom, #FCE38A, #F38181);
        margin: 0;
        padding: 0;
        margin-left: 5px;
        margin-right: 5px;
    }

    img{
        margin: 0;
    }

    p{
        font-size: 18px;
        color: black;
        font-style:italic;
    }

}